<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{messages.app-name}">app-name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap-select/1.13.8/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-select/1.13.8/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="img/logo.png" width="180" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/method">Выбрать метод</a>
            </li>
        </ul>
    </div>
</nav>
<div class="wrapper">
    <div id="sidebar" class="collapse navbar-collapse sidebar-mobile">
        <ul id="menu" class="list-unstyled">
        </ul>
    </div>

    <div id="content">
        <div id="breadcrumbs" class="container-fluid">
        </div>
        <div class="container-fluid">
            <ul id="messages" class="feedback-panel">
                <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
                </div>
            </ul>
        </div>
        <div layout:fragment="content">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 ui-lg-3">Ulyanovsk State Technical University</div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <a href="http://ulstu.ru">ulstu.ru</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <a target="_blank" href="/swagger-ui.html">api for developers</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">2020</div>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(88448673, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });


    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/88448673" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</div>
</body>
</html>